{% for  testimonial in testimonials %}
<div class="swiper-slide">
    <div class="testimonial-wrap">
      <div class="testimonial-item">
        <img src="{{ testimonial.image.url }}" class="testimonial-img" alt="">
        <h3>{{ testimonial.name }}</h3>
        <h4>{{ testimonial.job }}</h4>
        <p>
          <i class="bx bxs-quote-alt-left quote-icon-left"></i>
          {{ testimonial.description }}
          <i class="bx bxs-quote-alt-right quote-icon-right"></i>
        </p>
      </div>
    </div>
  </div><!-- End testimonial item -->
  {% endfor %}