{% load static %}
{% for trainer in trainers %}
<div class="col-lg-4 col-md-6 d-flex align-items-stretch">
    <div class="member">
      <img src="{{ trainer.image.url }}" class="img-fluid" alt="">
      <div class="member-content">
        <h4>{{ trainer.name }}</h4>
        <span>{{ trainer.job }}</span>
        <p>
          {{ trainer.description }}
        </p>
        <div class="social">
          <a href=""><i class="bi bi-twitter"></i></a>
          <a href=""><i class="bi bi-facebook"></i></a>
          <a href=""><i class="bi bi-instagram"></i></a>
          <a href=""><i class="bi bi-linkedin"></i></a>
        </div>
      </div>
    </div>
  </div>
{% endfor %}